<!--
   Created with IntelliJ IDEA.
   Description: 
   User: LENOVO
   Date: 2018-07-20
   Time: 15:53
 -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/font-awesome.min.css}"/>
    <!--[if IE 7]>
        <link rel="stylesheet" th:href="@{/assets/css/font-awesome-ie7.min.css}"/>
    <![endif]-->
    <link rel="stylesheet" th:href="@{/assets/css/ace.min.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/ace-rtl.min.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/ace-skins.min.css}"/>
    <!--[if lte IE 8]>
        <link rel="stylesheet" th:href="@{/assets/css/ace-ie.min.css}"/>
    <![endif]-->
    <script th:src="@{/assets/js/ace-extra.min.js}"></script>
    <!--[if lt IE 9]>
        <script th:src="@{/assets/js/html5shiv.js}"></script>
        <script th:src="@{/assets/js/respond.min.js}"></script>
    <![endif]-->
    <link rel="stylesheet" th:href="@{/assets/ztree/css/zTreeStyle/zTreeStyle.css}">
</head>
<body>
<div class="main-container container-fluid" id="main-container">
    <script type="text/javascript">
        try {
            ace.settings.check('main-container', 'fixed')
        } catch (e) {
        }
    </script>
    <div class="main-container-inner">
        <!--<div class="main-content">-->
            <div class="page-content">
                文件显示区域
                <div class="col-lg-2">
                    <div id="tree" class="ztree">
                    </div>
                </div>
            </div>
        <!--</div>-->
    </div>
</div>
</body>
<!--[if !IE]> -->
<script type="text/javascript" th:src="@{/bootstrap/js/jquery-2.2.4.min.js}"></script>
<!-- <![endif]-->
<!--[if IE]>
<script type="text/javascript" th:src="@{/bootstrap/js/jquery-1.12.4.min.js}"></script>
<![endif]-->
<!--[if !IE]> -->
<script type="text/javascript">
    window.jQuery || document.write("<script th:src='@{/bootstrap/js/jquery-2.2.4.min.js}'>" + "<" + "script>");
</script>
<!-- <![endif]-->
<!--[if IE]>
<script type="text/javascript">
    window.jQuery || document.write("<script th:src='@{/bootstrap/js/jquery-1.12.4.min.js}'>" + "<" + "script>");
</script>
<![endif]-->
<script type="text/javascript">
    if ("ontouchend" in document) document.write("<script th:src='@{/assets/js/jquery.mobile.custom.min.js}'>" + "<" + "script>");
</script>
<script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/assets/js/typeahead-bs2.min.js}"></script>
<!--<script type="text/javascript" th:src="@{/bootstrap/js/bootstrap-treeview.min.js}"></script>-->
<!-- page specific plugin scripts -->
<!--[if lte IE 8]>
<script th:src="@{/assets/js/excanvas.min.js}"></script>
<![endif]-->
<script th:src="@{/assets/js/jquery-ui-1.10.3.custom.min.js}"></script>
<script th:src="@{/assets/js/jquery.ui.touch-punch.min.js}"></script>
<script th:src="@{/assets/js/jquery.slimscroll.min.js}"></script>
<script th:src="@{/assets/js/jquery.easy-pie-chart.min.js}"></script>
<script th:src="@{/assets/js/jquery.sparkline.min.js}"></script>
<script th:src="@{/assets/js/flot/jquery.flot.min.js}"></script>
<script th:src="@{/assets/js/flot/jquery.flot.pie.min.js}"></script>
<script th:src="@{/assets/js/flot/jquery.flot.resize.min.js}"></script>
<!-- ace scripts -->
<script th:src="@{/assets/js/ace-elements.min.js}"></script>
<script th:src="@{/assets/js/ace.min.js}"></script>
<script th:src="@{/assets/ztree/js/jquery.ztree.core.min.js}"></script>
<script th:src="@{/assets/ztree/js/jquery.ztree.exedit.min.js}"></script>
<script th:src="@{/assets/ztree/js/jquery.ztree.excheck.min.js}"></script>
<script th:src="@{/assets/ztree/js/jquery.ztree.exhide.min.js}"></script>
<script th:src="@{/js/common.js}"></script>
<script>
    var setting = {
        async: {
            enable: true,
            url:Common.getRootPath() + "/mbk/tree",
            autoParam:["nodeId"],
            dataType:'json',
            dataFilter: filter
        },
        checkable: true,
        showIcon: true,
        showLine: true,
        view: {
            dblClickExpand: false,
            showLine: true,
            selectedMulti: false,
            showIcon:true
        },
        expandSpeed: "",
        data: {
            keep:{
                parent:true
            },
            key:{
                name:'nodeName',
                isParent: "parent"
            },
            simpleData: {
                enable: true,
                idKey: "nodeId",
                pIdKey: "nodePid",
                rootPId: ""
            }
        },
        check: {
            enable: true,
            chkboxType: { "Y" : "ps", "N" : "ps" }
        },
        callback: {
            onClick: zTreeOnOnClick,
            onExpand:zTreeOnOnClick
        }
    };

    $(function () {
        var containter = document.getElementById('main-container');
        containter.style.height = document.body.offsetHeight + 'px';
        console.log(document.body.offsetHeight + 'px');
        console.log(document.body.offsetHeight + 'px');
        var bodyH = $(document).find("body").get(0).scrollHeight,
            htmlH = $(document).find("html").get(0).scrollHeight,
            maxH = Math.max(bodyH, htmlH), minH = Math.min(bodyH, htmlH),
            h = containter.style.height >= maxH ? minH : maxH;
        if (h < 600) h = 600;
        containter.style.height = h;
        $.fn.zTree.init($("#tree"), setting);
    });

    function filter(treeId, parentNode, childNodes) {
        if (!childNodes) return null;
        var result = childNodes.data;
        for (var i=0, l=result.length; i<l; i++) {
            result[i].nodeName = result[i].nodeName.replace(/\.n/g, '.');
        }
        return result;
    }

    function zTreeOnOnClick(event, treeId, treeNode) {
        var treeObj = $.fn.zTree.getZTreeObj(treeId);
        var node = treeObj.getNodeByTId(treeNode.tId);
        //没有子节点才去查询
        if (node.children.length < 1 ||node.children == null || node.children == "undefined") {
            $.ajax({
                type: "POST",
                async: false,
                url:Common.getRootPath() + "/mbk/childTree",
                data: {
                    mldm: treeNode.nodeId
                },
                dataType: "json",
                success: function (data) {
                    if (data.data != null && data.data != "") {
                        //添加新节点
                        newNode = treeObj.addNodes(node, data.data);
                    }
                },
                error: function (event, XMLHttpRequest, ajaxOptions, thrownError) {
                    result = true;
                    alert("请求失败!");
                }
            });
        }
    }
</script>
</html>