<!DOCTYPE HTML>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width,initial-scale=1.0" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <title>模板校验</title>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap-table.min.css}">
    <link rel="stylesheet" th:href="@{/bootstrap/css/jquery.treegrid.css}">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}"/>
    <link rel="stylesheet" th:href="@{/assets/google-font/google.fonts.css}"/>
    <link rel="stylesheet" th:href="@{/assets/font-awesome/4.5.0/css/font-awesome.min.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/ace.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap-timepicker.min.css}"/>
    <link rel="stylesheet" th:href="@{/bootstrap/toastr/css/toastr.min.css}"/>
    <!--<link rel="stylesheet" th:href="@{/assets/css/ace-rtl.min.css}"/>-->
    <!--<link rel="stylesheet" th:href="@{/assets/css/ace-skins.min.css}"/>-->
    <link rel="shortcut icon" th:href="@{/img/logo.ico}"/>
    <style>
        .widget-box {
            border-bottom: none;
            margin-left: 10px;
        }
        #saveTime {
            position: absolute;
            right: -65px;
            top: 0;
            bottom: 0;
        }
    </style>
</head>

<body>
<div class="main-container" style="margin: 10px 0px; overflow: hidden">

    <div class="row">
        <div class="col-sm-8">
            <div class="widget-box">
                <!--<div class="widget-header">-->
                <!--<h4 class="widget-title text-center"></h4>-->
                <!--</div>-->
                <div class="widget-body" style="border:none">
                    <div class="widget-main">
                        <label for="timepicker1">数据库数据抽取时间</label>
                        <div class=" input-group bootstrap-timepicker" style="width: 80%; position: relative">
                            <input id="timepicker1" type="text" class="form-control" th:value="${batchDate}"/>
                            <span class="input-group-addon">
                               <i class="fa fa-clock-o bigger-110"></i>
							</span>
                            <button type="button" class="btn btn-sm btn-success" id="saveTime">
                                保存
                                <i class="ace-icon fa fa-arrow-right icon-on-right bigger-110"></i>
                            </button>
                        </div>

                        <p class="help-block" style="margin-top: 10px">如果抽取时间等于当前时间，说明未配置数据抽取时间</p>

                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
<div class="col-sm-3"></div>
<!--   <div class="col-sm-12">
       <form class="form-inline">
           <div class="form-group">
               <label for="timepicker1">数据库定时抽取时间</label>
               <div class="input-group bootstrap-timepicker">
                   <input id="timepicker1" type="text" class="form-control" />
                   <span class="input-group-addon">
                       <i class="fa fa-clock-o bigger-110"></i>
                   </span>
               </div>

           </div>
       </form>
   </div>-->
</div>
</div>
</body>
<!--[if IE]> -->
<script th:src="@{/bootstrap/js/jquery-2.2.4.min.js}"></script>
<!-- <![endif]-->
<!--[if !IE]> -->
<script th:src="@{/bootstrap/js/jquery-2.2.4.min.js}"></script>
<!-- <![endif]-->
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap-table.min.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap-table-treegrid.min.js}"></script>
<script th:src="@{/bootstrap/js/jquery.treegrid.min.js}"></script>
<!--ace-->
<script th:src="@{/assets/js/ace-elements.min.js}"></script>
<script th:src="@{/assets/js/ace.min.js}"></script>
<script th:src="@{/assets/js/ace-extra.min.js}"></script>
<script th:src="@{/js/bootstrap-timepicker.min.js}"></script>
<script type="text/javascript" th:src="@{/bootstrap/toastr/js/toastr.min.js}"></script>
<script th:inline="javascript" type="text/javascript">
    var ctx = /*[[@{/}]]*/'';
    $(function () {
        toastr.options.positionClass = 'toast-top-center';
        toastr.options.timeOut = 2000;
        toastr.options.extendedTimeOut = 60;
        $('#timepicker1').timepicker({
            minuteStep: 1,
            showSeconds: true,
            showMeridian: false, // 24H
            disableFocus: true,
            icons: {
                up: 'fa fa-chevron-up',
                down: 'fa fa-chevron-down'
            }
        }).on('focus', function () {
            $('#timepicker1').timepicker('showWidget');
        }).next().on(ace.click_event, function () {
            $(this).prev().focus();
        });
        $('#saveTime').on('click', function () {
            var timeStr = $('#timepicker1').val();
            var timeArr = timeStr.split(":");
            console.log(timeStr);
            console.log(timeArr);
            if (timeArr[0] > 6 || timeArr[0] < 1) { //夜间1点到5点
                toastr.error("数据抽取时间请定在夜间1点到5点之间");
                return;
            }
            $.ajax({
                type: "POST",
                async: false,
                url: ctx + "autoSet/edit",
                data: {'date': timeStr},
                dataType: "json",
                success: function (data, status) {
                    console.log(data);
                    console.log(status);
                    if (status === 'success') {
                        toastr.info('数据抽取时间更新成功!');
                    }
                },
                error: function (response) {
                    result = true;
                    toastr.error(response.responseText);
                }
            });
        });
    });

</script>

</html>
