<!DOCTYPE HTML>
<!--suppress ALL-->
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width,initial-scale=1.0" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <title>模板校验</title>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap-table.min.css}">
    <link rel="stylesheet" th:href="@{/bootstrap/css/jquery.treegrid.css}">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}"/>
    <link rel="stylesheet" th:href="@{/assets/google-font/google.fonts.css}"/>
    <!--<link rel="stylesheet" th:href="@{/assets/css/ace.min.css}"/>-->
    <!--<link rel="stylesheet" th:href="@{/assets/css/ace-rtl.min.css}"/>-->
    <!--<link rel="stylesheet" th:href="@{/assets/css/ace-skins.min.css}"/>-->
    <link rel="stylesheet" th:href="@{/assets/css/chosen.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/datepicker.css}"/>
    <link rel="shortcut icon" th:href="@{/img/logo.ico}"/>
    <link rel="stylesheet" th:href="@{/bootstrap/toastr/css/toastr.min.css}"/>
    <link rel="stylesheet" th:href="@{/assets/layer/mobile/need/layer.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap-timepicker.min.css}"/>


    <style>
        html, body {
            height: 100%;
        }

        .input-length {
            width: 150px;
        }

        .table-align {
            white-space: nowrap;
            overflow: hidden;
        }

        .table.table-hover > tr > td {
            height: 16px;
            max-height: 20px;
        }

        .table-layout-fixed {
            table-layout: fixed; /* 只有定义了表格的布局算法为fixed，下面td的定义才能起作用。 */
            font-size: 12px;
        }

        div.card-views > div.card-view > span.title {
            width: 200px;
        }

        div.card-views div.card-view span.value {
            width: 400px;
        }

        .main-container {
            padding-top: 10px;
            height: 100%;
        }

        .form-group, .btn {
            margin-right: 15px;
        }

        #profile .fixed-table-container {
            padding-bottom: 40px !important;
        }
        .widget-box {
            border-bottom: none;
            margin-left: 10px;
        }
        #saveTime {
            position: absolute;
            right: -65px;
            top: 0;
            bottom: 0;
        }
    </style>

</head>

<body>
<div class="main-container">

    <div class="row" style="margin:0px;">
        <div class="col-sm-12">
            <div class="tabbable">
                <ul class="nav nav-tabs" id="myTab">
                    <li class="active">
                        <a data-toggle="tab" href="#home">
                            手动抽取
                        </a>
                    </li>

                    <li>
                        <a data-toggle="tab" href="#profile">
                            自动抽取
                        </a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div id="home" class="tab-pane in active">
                        <div id="simple_toolbar">
                            <form class="form-inline">
                                <div class="form-group">
                                    <label for="orgCode">医院代码</label>
                                    <input type="text" class="form-control input-sm input-length" id="orgCode"
                                           th:value="${orgCode}"
                                           placeholder="请输入机构代码" style="width: 150px;"/>
                                </div>
                                <div class="form-group">
                                    <label for="orgName">医院名称</label>
                                    <input type="text" class="form-control input-sm input-length" id="orgName"
                                           th:value="${orgName}"
                                           placeholder="请输入机构名称" style="width: 150px;"/>
                                </div>
                                <div class="form-group">
                                    <label for="orgName">数据子集</label>
                                    <select class="form-control input-sm input-length" name="data_set" id="data_set"
                                            style="width: 200px;">
                                        <option value="0">-----全部-----</option>
                                        <option th:each="list:${dataSet}" th:value="${list.dictValue}"
                                                th:text="${list.dictLabel }"></option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>开始日期</label>
                                    <div class="input-group input-group-sm">
                                        <input type="text" id="startDate"
                                               class="form-control hasDatepicker input-sm input-length"
                                               data-date-format="yyyy-mm-dd" style="width: 100px;"/>
                                        <span class="input-group-addon">
                                                            <i class="fa fa-calendar bigger-110"></i>
                                                        </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label> 结束日期</label>
                                    <div class="input-group input-group-sm">
                                        <input type="text" id="endDate"
                                               class="form-control hasDatepicker input-sm input-length"
                                               data-date-format="yyyy-mm-dd" style="width: 100px;">
                                        <span class="input-group-addon">
                                                            <i class="fa fa-calendar bigger-110"></i>
                                                        </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="orgCode">病人首页序号</label>
                                    <input type="text" class="form-control input-sm input-length" id="syxh"
                                           placeholder="请输入首页序号" style="width: 150px;"/>
                                </div>
                                <button id="handDataLoad" type="button" class="btn btn-primary btn-sm">开始抽取</button>
                            </form>
                        </div>
                        <table id="simple_table"></table>
                    </div>

                    <div id="profile" class="tab-pane">
                        <div id="listBar">
                            <div class="row">
                                <div class="col-sm-8">
                                    <div class="widget-box">
                                        <div class="widget-body" style="border:none">
                                            <div class="widget-main">
                                                <label for="timepicker1">数据库数据抽取时间</label>
                                                <div class=" input-group bootstrap-timepicker"
                                                     style="width: 80%; position: relative">
                                                    <input id="timepicker1" type="text" class="form-control"
                                                           th:value="${batchDate}"/>
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-clock-o bigger-110"></i>
                                                    </span>
                                                    <button type="button" class="btn btn-sm btn-success" id="saveTime">
                                                        保存
                                                        <i class="ace-icon fa fa-arrow-right icon-on-right bigger-110"></i>
                                                    </button>
                                                </div>
                                                <p class="help-block" style="margin-top: 10px">如果抽取时间等于当前时间，说明未配置数据抽取时间</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <table id="auto_table"></table>
                    </div>

                </div>
            </div>
        </div><!-- /span -->
    </div>
</div>
<div class="modal fade" id="viewModal" tabindex="-1" role="dialog" aria-labelledby="viewFormModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width:900px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="viewModalLabel">数据详细信息</h4>
            </div>
            <div class="modal-body" style="overflow: auto; height: 500px;">
                <div class="container">
                    <div class="row">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
                                <form class="form-horizontal col-lg-10 col-md-10 col-sm-10 col-xs-10" role="form"
                                      id="viewForm">
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <button class="btn btn-danger" data-dismiss="modal">关闭</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="sourceId">
<input type="hidden" id="sourceType">

<div class="modal fade" id="myModal">
    <div class="modal-dialog modal-sm">
        <img alt="" th:src="@{/bootstrap/img/loading-sm.gif}"/>
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


</body>
<script th:src="@{/bootstrap/js/jquery-2.2.4.min.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap-table.min.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap-table-zh-CN.min.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap-table-treegrid.min.js}"></script>
<script th:src="@{/bootstrap/js/jquery.treegrid.min.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap-datepicker.min.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap-datepicker.zh-CN.min.js}"></script>
<script th:src="@{/bootstrap/toastr/js/toastr.min.js}"></script>
<!--ace-->
<script th:src="@{/assets/js/ace-elements.min.js}"></script>
<script th:src="@{/assets/js/ace.min.js}"></script>
<script th:src="@{/assets/js/ace-extra.min.js}"></script>
<script th:src="@{/assets/js/chosen.jquery.min.js}"></script>
<script th:src="@{/js/bootstrap-timepicker.min.js}"></script>
<!--layer-->
<script th:src="@{/assets/layer/layer.js}"></script>

<script th:inline="javascript" type="text/javascript">
    var ctx = /*[[@{/}]]*/'';
    var $autoTable = $('#auto_table');
    var $simpleTable = $('#simple_table');
    $(function () {
        toastr.options = {
            "closeButton": false,//显示关闭按钮
            "debug": false,//启用debug
            "positionClass": "toast-top-center",//弹出的位置
            "showDuration": "300",//显示的时间
            "hideDuration": "1000",//消失的时间
            "timeOut": "5000",//停留的时间
            "extendedTimeOut": "1000",//控制时间
            "showEasing": "swing",//显示时的动画缓冲方式
            "hideEasing": "linear",//消失时的动画缓冲方式
            "showMethod": "fadeIn",//显示时的动画方式
            "hideMethod": "fadeOut"//消失时的动画方式
        };
        //机构代码和机构名称
        $("#orgCode").blur(function () {
            var orgCode = $("#orgCode").val();
            var orgName = $("#orgName").val();
            $.ajax({
                url: ctx + "/dataLoad/orgInfo",
                method: "post",
                data: {orgCode: orgCode, orgName: orgName},
                success: function (data) {

                }
            });
        });
        $("#orgName").blur(function () {
            var orgCode = $("#orgCode").val();
            var orgName = $("#orgName").val();
            $.ajax({
                url: ctx + "/dataLoad/orgInfo",
                method: "post",
                data: {orgCode: orgCode, orgName: orgName},
                success: function (data) {

                }
            });
        });
        $('.hasDatepicker').datepicker({
            autoclose: true,
            language: "zh-CN",
            todayHighlight: true
        }).next().on(ace.click_event, function () {
            $(this).prev().focus();
        });

        $simpleTable.bootstrapTable({
            url: ctx + 'operate/list',
            height: $(window).height()-55, //表格占高
            striped: true,
            method: 'GET', // 请求方法
            cache: false,  // 是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
            pagination: true,                   // 是否显示分页（*）
            sortable: true,                     // 是否启用排序
            sortOrder: "asc",                   // 排序方式
            sidePagination: "server",           // 分页方式：client客户端分页，server服务端分页（*）
            pageNumber: 1,                      // 初始化加载第一页，默认第一页,并记录
            pageSize: 15,                     // 每页的记录行数（*）
            pageList: [15, 20, 50, 100],        // 可供选择的每页的行数（*）
            showPaginationSwitch: false,			//显示 数据条数选择框
            search: false,                      // 是否显示表格搜索
            strictSearch: true,
            minimumCountColumns: 2,             // 最少允许的列数
            clickToSelect: true,                // 是否启用点击选中行
            idField: 'id',
            sortName: 'id',
            uniqueId: "id",                 // 每一行的唯一标识，一般为主键列
            cardView: false,                    // 是否显示详细视图
            detailView: false,                  // 是否显示父子表
            paginationPreText: '上一页',
            paginationNextText: '下一页',
            paginationLoop: false, //分页条无限循环的功能
            singleSelect: true,
            toolbar: '#simple_toolbar',
            toolbarAlign: 'left',
            queryParams: initSimpleParam,
            columns: [
                {
                    field: 'setName',
                    width: '15%',
                    align: 'center',
                    title: '数据子集'
                },
                {
                    field: 'startDate',
                    width: '15%',
                    align: 'center',
                    title: 'EMR开始时间'
                },
                {
                    field: 'endDate',
                    width: '15%',
                    align: 'center',
                    title: 'EMR结束时间'
                },
                {
                    field: 'createTime',
                    width: '15%',
                    align: 'center',
                    title: '抽取开始时间',
                    formatter:convertUTCToYYYYMMDDHHMMSS
                },
                {
                    field: 'updateTime',
                    width: '15%',
                    align: 'center',
                    title: '抽取结束时间',
                    formatter:convertUTCToYYYYMMDDHHMMSS
                },
                {
                    field: 'status',
                    width: '15%',
                    align: 'center',
                    title: '抽取状态',
                    formatter: function (value, row, index) {
                        if (value == 0) {
                            return '<i style="color: blue;">抽取中</i>';
                        } else if (value == 1) {
                            return '<i style="color: #333;">抽取完成</i>';
                        } else {
                            return '<i style="color: red;">抽取错误</i>';
                        }
                        return value;
                    }
                },
                {
                    field: 'operateCount',
                    title: '抽取数量',
                    width: '15%',
                    formatter: function (value, row, index) {
                        if (row['operateCount'] != row['sumCount']) {
                            return '<i style="color: red;">' + row['operateCount'] + '</i>';
                        }
                        return value;
                    },
                    align: 'center',
                },
                {
                    field: 'sumCount',
                    width: '15%',
                    title: '病历总数',
                    align: 'center',
                }
            ],
        });

        $autoTable.bootstrapTable({
            url: ctx + 'operate/list',
            height: $(window).height() - 250,
            method: 'get',
            striped: false,
            pagination: true,                   // 是否显示分页（*）
            sortable: false,                     // 是否启用排序
            sortOrder: "asc",                   // 排序方式
            sidePagination: "server",           // 分页方式：client客户端分页，server服务端分页（*）
            pageNumber: 1,                      // 初始化加载第一页，默认第一页,并记录
            pageSize: 10,                     // 每页的记录行数（*）
            pageList: [10, 20, 50, 100],        // 可供选择的每页的行数（*）
            showPaginationSwitch: false,			//显示 数据条数选择框
            search: false,                      // 是否显示表格搜索
            strictSearch: true,
            minimumCountColumns: 2,             // 最少允许的列数
            clickToSelect: true,                // 是否启用点击选中行
            idField: 'id',
            sortName: 'id',
            uniqueId: "id",                 // 每一行的唯一标识，一般为主键列
            cardView: false,                    // 是否显示详细视图
            detailView: false,                  // 是否显示父子表
            paginationPreText: '上一页',
            paginationNextText: '下一页',
            paginationLoop: false, //分页条无限循环的功能
            singleSelect: true,
            toolbar: '#listBar',
            toolbarAlign: 'left',
            queryParams: initQueryParam,
            columns: [
                {
                    field: 'setName',
                    width: '15%',
                    align: 'center',
                    title: '数据子集'
                },
                {
                    field: 'startDate',
                    width: '15%',
                    align: 'center',
                    title: 'EMR开始时间'
                },
                {
                    field: 'endDate',
                    width: '15%',
                    align: 'center',
                    title: 'EMR结束时间'
                },
                {
                    field: 'createTime',
                    width: '15%',
                    align: 'center',
                    title: '抽取开始时间',
                    formatter:convertUTCToYYYYMMDDHHMMSS
                },
                {
                    field: 'updateTime',
                    width: '15%',
                    align: 'center',
                    title: '抽取结束时间',
                    formatter:convertUTCToYYYYMMDDHHMMSS
                },
                {
                    field: 'status',
                    width: '15%',
                    align: 'center',
                    title: '抽取状态',
                    formatter: function (value, row, index) {
                        if (value == 0) {
                            return '<i style="color: blue;">抽取中</i>';
                        } else if (value == 1) {
                            return '<i style="color: #333;">抽取完成</i>';
                        } else {
                            return '<i style="color: red;">抽取错误</i>';
                        }
                        return value;
                    }
                },
                {
                    field: 'operateCount',
                    title: '抽取数量',
                    width: '15%',
                    formatter: function (value, row, index) {
                        if (row['operateCount'] != row['sumCount']) {
                            return '<i style="color: red;">' + row['operateCount'] + '</i>';
                        }
                        return value;
                    },
                    align: 'center',
                },
                {
                    field: 'sumCount',
                    width: '15%',
                    title: '病历总数',
                    align: 'center',
                }
            ],
        });

        setTimeout(function () {
            $simpleTable.bootstrapTable('refresh');
            $autoTable.bootstrapTable('refresh');
        }, 20000);

        $('#timepicker1').timepicker({
            minuteStep: 1,
            showSeconds: true,
            showMeridian: false, // 24H
            disableFocus: true,
            icons: {
                up: 'fa fa-chevron-up',
                down: 'fa fa-chevron-down'
            }
        }).on('focus', function () {
            $('#timepicker1').timepicker('showWidget');
        }).next().on(ace.click_event, function () {
            $(this).prev().focus();
        });
        $('#saveTime').on('click', function () {
            var timeStr = $('#timepicker1').val();
            var timeArr = timeStr.split(":");
            console.log(timeStr);
            console.log(timeArr);
            if (timeArr[0] > 6 || timeArr[0] < 1) { //夜间1点到5点
                toastr.error("数据抽取时间请定在夜间1点到5点之间");
                return;
            }
            $.ajax({
                type: "POST",
                async: false,
                url: ctx + "autoSet/edit",
                data: {'date': timeStr},
                dataType: "json",
                success: function (data, status) {
                    console.log(data);
                    console.log(status);
                    if (status === 'success') {
                        toastr.info('数据抽取时间更新成功!');
                    }
                },
                error: function (response) {
                    result = true;
                    toastr.error(response.responseText);
                }
            });
        });
    });
    //初始化参数
    function initSimpleParam(params) {
        var queryJson = {};
        queryJson['type'] = 0;    // 手动抽取
        queryJson['count'] = params.limit;    // 每页显示条数
        queryJson['first'] = params.offset;   // 显示条数
        queryJson['sort'] = params.sort;      // 排序列名
        queryJson['order'] = params.order;     // 排位命令（desc，asc）
        return queryJson;
    }

    //手动抽取数据
    $("#handDataLoad").click(function () {
        var startDate = $("#startDate").val();
        var endDate = $("#endDate").val();
        var orgCode = $("#orgCode").val();
        var orgName = $("#orgName").val();
        var syxh = $("#syxh").val();
        var data_set = $("#data_set").val();
        if (orgCode == null || orgCode == '') {
            toastr.warning("医院代码不能为空");
            return false;
        }
        if (orgName == null || orgName == '') {
            toastr.warning("医院名称不能为空");
            return false;
        }

        if (startDate == null || startDate == '') {
            toastr.warning('开始时间不能为空');
            return false;
        }
        if (endDate == null || endDate == '') {
            toastr.warning("结束时间不能为空");
            return false;
        }
        startDate = startDate + " 00:00:00";
        endDate = endDate + " 23:59:59";
        if (startDate >= endDate) {
            toastr.warning("开始时间不能大于结束时间");
            return false;
        }
        //loading层
        // var index = layer.load(1, {
        //     shade: [0.5, '#E0E0E0'] //0.1透明度的白色背景
        // });

        layer.msg('数据开始抽取!', {icon: 6, time: 2500});
        $.ajax({
            type: "POST",
            url: "startLoad",
            data: {startDate: startDate, endDate: endDate, data_set: data_set, syxh: syxh},
            cache: false,
            dataType: "json",
            async: true,
            error: function (request) {
            },
            success: function (data) {
                // if(data.success=='1'){
                //     $simple_table.bootstrapTable('refresh');
                // }else{
                //     toastr.warning("抽取失败");
                // }
                // layer.close(index);
            }
        });
    });

    //===============================数据查看=============================================
    //初始化参数
    function initQueryParam(params) {
        var queryJson = {};
        queryJson['type'] = 1;    // 自动抽取
        queryJson['count'] = params.limit;    // 每页显示条数
        queryJson['first'] = params.offset;   // 显示条数
        queryJson['sort'] = params.sort;      // 排序列名
        queryJson['order'] = params.order;     // 排位命令（desc，asc）
        return queryJson;
    }

    /**
     * 将UTC时间转换为YYYY-MM-DD HH:mm:SS格式
     * @param value
     */
    function convertUTCToYYYYMMDDHHMMSS(value){
        var time = '';
        if(value){
            var date = new Date(value);
            var year = date.getFullYear();
            time += year+"-";
            var mouth = date.getMonth()+1;
            time += addSymbolForDate(mouth,"-");
            var day = date.getDate();
            time += addSymbolForDate(day," ");
            var hour = date.getHours();
            time += addSymbolForDate(hour,":");
            var minutes = date.getMinutes();
            time += addSymbolForDate(minutes,":");
            var seconds = date.getSeconds();
            time += addSymbolForDate(seconds,"");
        }
        return time;
    }
    /**
     *@param value 时间的值
     *@param symbol 添加的符号
     */
    function addSymbolForDate(value,symbol){
        if(value >= 10){
            return value+symbol;
        }else{
            return "0"+value+symbol;
        }
    }

</script>

</html>
