<!--
   Created with IntelliJ IDEA.
   Description: 数据初始化
   User: LENOVO
   Date: 2018-07-25
   Time: 13:17
 -->
<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width,initial-scale=1.0" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <title>数据初始化</title>
    <meta name="keywords" content="Winning Health CIS 互联互通工具"/>
    <meta name="description" content="Winning Health CIS 互联互通工具"/>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap-table.min.css}">
    <link rel="stylesheet" th:href="@{/bootstrap/css/jquery.treegrid.css}">
    <link rel="stylesheet" th:href="@{/bootstrap/bootstrap3-editable/css/bootstrap-editable.css}">
    <link rel="stylesheet" th:href="@{/bootstrap/bootstrap-treeview/bootstrap-treeview.min.css}">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}"/>
    <link rel="stylesheet" th:href="@{/assets/google-font/google.fonts.css}"/>
    <link rel="stylesheet" th:href="@{/bootstrap/toastr/css/toastr.min.css}"/>
    <link rel="stylesheet" th:href="@{/assets/iconfont/iconfont.css}"/>
    <link rel="shortcut icon" th:href="@{/img/logo.ico}"/>
    <script th:src="@{/assets/js/ace-extra.min.js}"></script>
    <link rel="stylesheet" th:href="@{/assets/ztree/css/zTreeStyle/zTreeStyle.css}">
    <link rel="stylesheet" th:href="@{/assets/layer/mobile/need/layer.css}"/>

    <style>
        .tree-container{
            height: 500px;
            overflow: scroll;
        }
        .table-align{
            table-layout:fixed;/* 只有定义了表格的布局算法为fixed，下面td的定义才能起作用。 */
            font-size:12px;
        }
        .span_icon{
            margin-left: 10px;
        }
        .input-length{
            width: 150px;
        }
    </style>
</head>
<body>
<div class="main-container" style="margin: 10px 0px;">
    <div class="row" style="margin:0px;">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="tabbable">
                <ul class="nav nav-tabs" id="myTab">
                    <li class="active">
                        <a data-toggle="tab" href="#config">
                            基础模板匹配
                        </a>
                    </li>

                    <li>
                        <a data-toggle="tab" href="#template">
                           数据集配置
                        </a>
                    </li>
                </ul>
                <div class="tab-content" id="tabContent">
                    <div id="config" class="tab-pane in active">
                            <div class="row" id="toolbar">
                                <div class="col-sm-3 col-xs-3 col-md-3 col-lg-3">
                                    <div class="input-group">
                                        <span class="input-group-addon">数据集</span>
                                        <select class="form-control input-sm input-length" name="dataSet" id="dataSet">
                                            <option value="0">-----全部-----</option>
                                            <option th:each="list:${dataSet}" th:value="${list.dictValue}"
                                                    th:text="${list.dictLabel }"></option>
                                        </select>
                                    </div>
                                </div>
                                <!--<div class="col-sm-1">
                                    <div class="input-group">
                                        <label>
                                            <input name="chosen" type="checkbox" class="ace" id="chosen"/>
                                            <span class="lbl">必选</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-1">
                                    <div class="input-group">
                                        <label>
                                            <input name="configPath" type="checkbox" class="ace" id="configPath"/>
                                            <span class="lbl">路径已配置</span>
                                        </label>
                                    </div>
                                </div>-->
                               <!-- 功能关闭
                               <div class="form-group">
                                    <button id="initTemplate" type="button" class="btn btn-primary btn-sm">模板解析</button>
                                </div>-->
                            </div>
                        <table id="table" class="table-align"></table>
                    </div>
                    <div id="template" class="tab-pane">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 tree-container">
                                    <p>互利互通数据集</p>
                                    <div id="dataTree" class="ztree ">
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 tree-container">
                                    <div style="line-height: 400px;margin: 0px 120px;">
                                        <button id="addOrModify" type="button" class="btn btn-primary" style="width: 100px;">保存</button>
                                    </div>

                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 tree-container">
                                    <p>病历导航树</p>
                                    <div id="templateTree" class="ztree ">
                                    </div>
                                </div>
                                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
                                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                                     <p class="help-block"> 备注：会诊记录由会诊申请（B-B211）和会诊答复（B-B211）组成，
                                        转科记录由转出记录（B-8405）和转入记录（B-8408）组成
                                     </p>
                                </div>
                                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="treeModal" tabindex="-1" role="dialog" aria-labelledby="treeFormModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width:450px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="treeModalLabel">接口表字段信息</h4>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div class="col-sm-10">
                                <div id="tree" style="height: 300px;overflow:auto; width: 380px;"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-5 text-center">
                            <button class="btn btn-primary" id="saveMapping" type="button">保存</button>
                            <button class="btn btn-danger" data-dismiss="modal">取消</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editFormModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width:575px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="editModalLabel">字段配置信息</h4>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="row">
                            <form class="form-horizontal col-lg-6 col-md-6 col-sm-6 col-xs-6" role="form" id="editForm">
                                <!--<div class="form-group">
                                    <label class="col-sm-3 control-label" for="recordName">字段名称</label>
                                    <div class="col-sm-7">
                                        <span class="form-control" id="recordName" name="recordName"></span>
                                    </div>
                                </div>-->

                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="dataType">类型</label>
                                    <div class="col-sm-8">
                                        <select class="form-control" name="dataType" id="dataType">
                                            <option value="1">文件结构</option>
                                            <option value="2">基础模板</option>
                                            <option value="3">元数据</option>
                                            <option value="4">原子节点</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group" id="dtjddmDiv">
                                    <label class="col-sm-3 control-label" for="dtjddm">文件结构ID</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="dtjddm" name="dtjddm"
                                               placeholder="请输入文件结构ID">
                                    </div>
                                </div>
                                <div class="form-group" id="qrmbdmDiv">
                                    <label class="col-sm-3 control-label" for="qrmbdm">基础模板ID</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="qrmbdm" name="qrmbdm"
                                               placeholder="请输入基础模板ID">
                                    </div>
                                </div>
                                <div class="form-group" id="qrdxdmDiv">
                                    <label class="col-sm-3 control-label" for="qrdxdm">元数据ID</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="qrdxdm" name="qrdxdm"
                                               placeholder="请输入元数据ID">
                                    </div>
                                </div>
                                <div class="form-group" id="yzjddmDiv">
                                    <label class="col-sm-3 control-label" for="yzjddm">原子节点ID</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="yzjddm" name="yzjddm"
                                               placeholder="请输入原子节点ID">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="dictCode">字典字段</label>
                                    <div class="col-sm-8">
                                        <select class="form-control" name="dictCode" id="dictCode">
                                            <option value="0">否</option>
                                            <option value="1">是</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="bt">是否必填</label>
                                    <div class="col-sm-8">
                                        <select class="form-control" name="bt" id="bt">
                                            <option value="0">非必填</option>
                                            <option value="1">必填</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="mustMatch">是否校验</label>
                                    <div class="col-sm-8">
                                        <select class="form-control" name="mustMatch" id="mustMatch">
                                            <option value="0">否</option>
                                            <option value="1">是</option>
                                        </select>
                                    </div>
                                </div>

                                <input type="hidden" id="id">
                                <input type="hidden" id="pId">
                                <input type="hidden" id="sourceType">
                                <input type="hidden" id="recordName">
                                <input type="hidden" id="pyCode">
                                <input type="hidden" id="status">
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-5 text-center">
                            <!--<button class="btn btn-info" id="configT" type="button">配置</button>-->
                            <button class="btn btn-primary" id="saveForm" type="button">保存</button>
                            <button class="btn btn-danger" data-dismiss="modal">取消</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="nodeInfoModal" tabindex="-1" role="dialog" aria-labelledby="nodeInfoFormModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width:600px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="nodeInfoModalLabel">病历模板字段信息</h4>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div class="col-sm-10">
                                <div id="nodeInfoTree" style="height: 300px;overflow:auto; width: 550px;"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-5 text-center">
                            <button class="btn btn-primary" id="saveNodeMapping" type="button">保存</button>
                            <button class="btn btn-danger" data-dismiss="modal">取消</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--[if !IE]> -->
<script type="text/javascript" th:src="@{/bootstrap/js/jquery-2.2.4.min.js}"></script>
<!-- <![endif]-->
<!--[if IE]>
<script type="text/javascript" th:src="@{/bootstrap/js/jquery-1.12.4.min.js}"></script>
<![endif]-->
<!--bootstrap-->
<script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/bootstrap/js/bootstrap-table.min.js}"></script>
<script type="text/javascript" th:src="@{/bootstrap/js/bootstrap-table-zh-CN.min.js}"></script>
<script type="text/javascript" th:src="@{/bootstrap/bootstrap3-editable/js/bootstrap-editable.min.js}"></script>
<script type="text/javascript" th:src="@{/bootstrap/js/bootstrap-table-editable.js}"></script>
<script type="text/javascript" th:src="@{/bootstrap/js/bootstrap-table-treegrid.min.js}"></script>
<script type="text/javascript" th:src="@{/bootstrap/js/jquery.treegrid.min.js}"></script>
<script type="text/javascript" th:src="@{/bootstrap/bootstrap-treeview/bootstrap-treeview.min.js}"></script>
<script type="text/javascript" th:src="@{/bootstrap/toastr/js/toastr.min.js}"></script>
<!--ace-->
<script type="text/javascript" th:src="@{/assets/js/ace-elements.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/ace.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/ace-extra.min.js}"></script>
<script th:src="@{/assets/ztree/js/jquery.ztree.core.min.js}"></script>
<script th:src="@{/assets/ztree/js/jquery.ztree.exedit.min.js}"></script>
<script th:src="@{/assets/ztree/js/jquery.ztree.excheck.min.js}"></script>
<script th:src="@{/assets/ztree/js/jquery.ztree.exhide.min.js}"></script>
<script th:src="@{/assets/common.js}"></script>
<script th:src="@{/assets/layer/layer.js}"></script>

<script type="text/javascript" th:inline="javascript">
    var ctx = /*[[@{/}]]*/'';
    var resultData = [];
    var templateTree,dictTree;
    /*初始化变量，为数据复制做准备*/
    var dataTypeC,dtjddmC,qrmbdmC,qrdxdmC,yzjddmC,dictCodeC,pyCodeC,btC,pIdC,sourceTypeC,mustMatchC;
    //页面初始化
    function initWindow(){
        //页面大小响应布局
        $(window).width((window.parent.document.getElementById("coniframe").width -12)+'px');
        $(window).height((window.parent.document.getElementById("coniframe").height -12)+'px');
        $('#tabContent').height($(window).height() - 100+'px')
        //行内操作初始化
//        $.fn.editable.defaults.mode = 'inline';
    }
    initWindow();

    var $table = $('#table');
    var $subTable ;

    var templateSetting = {
        async: {
            enable: true,
            url:ctx + "/mbk/tree",
            autoParam:["nodeId"],
            dataType:'json',
            dataFilter: filter
        },
        checkable: true,
        showIcon: true,
        showLine: true,
        view: {
            dblClickExpand: false,
            showLine: true,
            selectedMulti: false,
            showIcon:true
        },
        expandSpeed: "",
        data: {
            keep:{
                parent:true,
            },
            key:{
                name:'nodeName',
                isParent: "parent",
                isHidden: "hidden",
                checked: "checked"
            },
            simpleData: {
                enable: true,
                idKey: "nodeId",
                pIdKey: "nodePid",
                rootPId: ""
            }
        },
        check: {
            enable: true,
            chkboxType: { "Y" : "ps", "N" : "ps" }
        },
        callback: {
            onClick: zTreeOnOnClick,
            onExpand:zTreeOnOnClick
        }
    };

    var dictSetting = {
        async: {
            enable: true,
            url:ctx + "/dict/tree",
            autoParam:["dictCode","dictValue"],
            dataType:'json',
            dataFilter: dictFilter
        },
        checkable: true,
        showIcon: true,
        showLine: true,
        view: {
            dblClickExpand: false,
            showLine: true,
            selectedMulti: false,
            showIcon:false
        },
        expandSpeed: "",
        data: {
            keep:{
                parent:false
            },
            key:{
                name:'dictLabel',
                isParent: "parent"
            },
            simpleData: {
                enable: true,
                idKey: "dictValue",
                pIdKey: "",
                rootPId: ""
            }
        },
        check: {
            enable: true,
            chkStyle:'radio',
        },
        callback: {
            onClick: dictTreeOnOnClick,
            onCheck: dictTreeOnOnClick
        }
    };

    dictTree = $.fn.zTree.init($("#dataTree"), dictSetting);

    templateTree = $.fn.zTree.init($("#templateTree"), templateSetting);

    /**
     * 字典表数据转换
     * @param treeId
     * @param parentNode
     * @param childNodes
     * @returns {null}
     */
    function dictFilter(treeId, parentNode, childNodes) {
        if (!childNodes) return null;
        var result = childNodes.data;
        for (var i=0, l=result.length; i<l; i++) {
            result[i].dictLabel = result[i].dictLabel.replace(/\.n/g, '.');
        }
        return result;
    }

    /**
     * 模板数据转换
     * @param treeId
     * @param parentNode
     * @param childNodes
     * @returns {null}
     */
    function filter(treeId, parentNode, childNodes) {
        if (!childNodes) return null;
        var result = childNodes.data;
        for (var i=0, l=result.length; i<l; i++) {
            result[i].nodeName = result[i].nodeName.replace(/\.n/g, '.');
        }
        return result;
    }
    /**
     * 复制一行数据
     *
     */
    function openAddWindow(pId,recordName,index,sourceType,dataType,dtjddm,qrmbdm,qrdxdm,yzjddm,dictCode,pyCode,bt,mustMatch) {
        var bt1 = bt === 'null' ? '0' :bt;
        var data = {row :{
            pid:parseInt(pId),
            sourceType:sourceType,
            dataType:dataType,
            dtjddm:dtjddm,
            qrmbdm:qrmbdm,
            qrdxdm:qrdxdm,
            yzjddm:yzjddm == 'null' ? '' : yzjddm,
            recordName:'',
            dictCode:dictCode,
            pyCode:pyCode,
            bt:bt1,
            mustMatch:mustMatch,
            status:1
        },
            index:index+1};
        $subTable.bootstrapTable('insertRow',data);
    }
    /**
     * 选定数据复制到指定字段
     */
    function openCopyWindow(pId,recordName,index,sourceType,dataType,dtjddm,qrmbdm,qrdxdm,yzjddm,dictCode,pyCode,bt,mustMatch) {
        $.ajax({
            type: "post",
            url: ctx + "basic/tree",
            dataType: "json",
            data:{'pId':pId,sourceType:sourceType},
            cache : false,
            async: false,
            success: function (result) {
                $('#tree').treeview({
                    data: result.data,         // 数据源
                    showCheckbox: true,   //是否显示复选框
                    highlightSelected: true,    //是否高亮选中
                    icon:'',                                  //列表树节点上的图标，通常是节点左边的图标。
                    uncheckedIcon:"",                         //设置图标为未选择状态的checkbox图标。
                    nodeIcon:'glyphicon glyphicon-unchecked', //设置所有列表树节点上的默认图标。
                    selectedIcon:"glyphicon glyphicon-check", //设置所有被选择的节点上的默认图标。
                    color:"#000000",
                    backColor:"#FFFFFF",
                    emptyIcon: '',    //设置列表树中没有子节点的节点的图标。
                    multiSelect: false  //多选
                });
            },
            error: function (response) {
                toastr.error(response.responseText);
            },
        });
        dataTypeC = dataType;
        dtjddmC = dtjddm;
        qrmbdmC = qrmbdm;
        qrdxdmC = qrdxdm;
        yzjddmC = yzjddm;
        dictCodeC = dictCode;
        pyCodeC = pyCode;
        btC = bt;
        pIdC = pId;
        sourceTypeC = sourceType;
        mustMatchC = mustMatch;
        $('#treeModal').modal('show');
    }
    /**
     * 打开编辑页面
     */
    function openEditWindow(id,pId,recordName,index,sourceType,dataType,dtjddm,qrmbdm,qrdxdm,yzjddm,dictCode,pyCode,bt,status,mustMatch){
        $('#id').val(id);
        $('#pId').val(pId);
        $('#recordName').val(recordName);
        $('#sourceType').val(sourceType);
        $('#dataType').val(dataType);
        $('#dtjddm').val(dtjddm == 'null' ? '' : dtjddm);
        $('#qrmbdm').val(qrmbdm == 'null' ? '' : qrmbdm);
        $('#qrdxdm').val(qrdxdm == 'null' ? '' : qrdxdm);
        $('#yzjddm').val(yzjddm == 'null' ? '' : yzjddm);
        if(dictCode !== '0' && dictCode !== '' && dictCode !== 'null'){
            $('#dictCode').val('1');
        }else{
            $('#dictCode').val('0');
        }
        $('#pyCode').val(pyCode);
        $('#bt').val(bt);
        $('#status').val(status);
        $('#mustMatch').val(mustMatch);
        showOrHideDivByDatatype(dataType);
        $('#editModal').modal('show');
    }
    /**
     * 数据删除
     */
    function openDeleteWindow(id,pId,recordName,index,sourceType,dataType,dtjddm,qrmbdm,qrdxdm,yzjddm,dictCode,pyCode,bt,status,mustMatch){
        var queryJson = {
            sourceType :sourceType,
            pId:pId
        };
        var param = {
            id:id,

        };
        Ewin.confirm({message: "确认要删除选择的数据吗？"}).on(function (e) {
            if (!e) {
                return;
            }
            if(status){
                toastr.info('提交数据成功');
                $subTable.bootstrapTable('refresh',queryJson);
            }else {
                $.ajax({
                    url:  ctx + 'basic/delete',
                    data: param,
                    type: "post",
                    dataType: 'json',
                    async: false,
                    cache: false,
                    success: function (data, status) {
                        if (status == 'success') {
                            toastr.info('提交数据成功');
                            $subTable.bootstrapTable('refresh',queryJson);
                        }
                    },
                    error: function (response) {
                        toastr.error(response.responseText);
                    },
                    complete: function () {
                    }
                });
            }

        });
    }

    //模板解析
    $("#initTemplate").click(function () {
        var dataSet = $('#dataSet').val();
        //loading层
        var index = layer.load(1, {
            shade: [0.5, '#E0E0E0'] //0.1透明度的白色背景
        });
        if(dataSet === '0'){
            $.ajax({
                type: "POST",
                url:ctx + 'detail/convert',
                // data:{sourceType:1},
                cache : false,
                dataType:"json",
                async: true,
                error: function(request) {
                    layer.close(index);
                },
                success: function(data) {
                    toastr.info("配置模板已经解析完成。");
                    layer.close(index);
                }
            });
        }else{
            $.ajax({
                type: "POST",
                url:ctx + 'detail/convertTemplate',
                data:{sourceType:dataSet},
                cache : false,
                dataType:"json",
                async: true,
                error: function(request) {
                    layer.close(index);
                },
                success: function(data) {
                    toastr.info("配置模板已经解析完成。");
                    layer.close(index);
                }
            });
        }


    });
    function initTemplate(){

    }

    function showOrHideDivByDatatype(dataType){
      /*  if(dataType == '1'){
            $('#dtjddmDiv').show();
            $('#qrmbdmDiv').hide();
            $('#qrdxdmDiv').hide();
            $('#yzjddmDiv').hide();
        }else if(dataType == '2'){
            $('#dtjddmDiv').show();
            $('#qrmbdmDiv').show();
            $('#qrdxdmDiv').hide();
            $('#yzjddmDiv').hide();
        }else if(dataType == '3'){
            $('#dtjddmDiv').show();
            $('#qrmbdmDiv').show();
            $('#qrdxdmDiv').show();
            $('#yzjddmDiv').hide();
        }else{*/
            $('#dtjddmDiv').show();
            $('#qrmbdmDiv').show();
            $('#qrdxdmDiv').show();
            $('#yzjddmDiv').show();
       /* }*/
    }

    function subTableValueFormatter(value,row,index){
        if(value == null || value == 'null'){
            return '';
        }else{
            return '<span style="font-size:11px;">'+value+'</span>';
        }
    }
    $(function(){
        //toastr 插件全局配置
        toastr.options.positionClass = 'toast-top-center';
        toastr.options.timeOut = 2000;
        toastr.options.extendedTimeOut = 60;

        $table.bootstrapTable({
            url:ctx + 'basic/plist',
            height: 700, //表格占高
            striped: true,
            method: 'GET', // 请求方法
            cache: false,  // 是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
            pagination: true,                   // 是否显示分页（*）
            sortable: true,                     // 是否启用排序
            sortOrder: "asc",                   // 排序方式
            sidePagination: "server",           // 分页方式：client客户端分页，server服务端分页（*）
            pageNumber: 1,                      // 初始化加载第一页，默认第一页,并记录
            pageSize: 15,                     // 每页的记录行数（*）
            pageList: [15,20,50,100],        // 可供选择的每页的行数（*）
            showPaginationSwitch: false,			//显示 数据条数选择框
            search: false,                      // 是否显示表格搜索
            strictSearch: true,
            minimumCountColumns: 2,             // 最少允许的列数
            clickToSelect: true,                // 是否启用点击选中行
            idField: 'id',
            sortName: 'id',
            uniqueId: "id",                 // 每一行的唯一标识，一般为主键列
            cardView: false,                    // 是否显示详细视图
            detailView: true,                  // 是否显示父子表
            toolbar: '#btntoolbar',
            toolbarAlign: 'right',
            paginationPreText: '上一页',
            paginationNextText: '下一页',
            paginationLoop: false, //分页条无限循环的功能
            singleSelect: true,
            queryParams: queryListInfo,
            columns: [
                {
                    field: 'recordName',
                    title: '接口名称',
                    align: 'left',
                    width: '210px',
                    formatter:function(value,row,index){
                        return '<span>'+value+'</span>';
                    }
                },
                {
                    field: 'dataType',
                    title: '类型',
                    align: 'center',
                    width: '100px',
                    formatter:function(value,row,index){
                        if(row.pid === 0){
                            return '';
                        }
                    }
                },
                {
                    field: 'dtjddm',
                    align: 'center',
                    title: '文件结构ID',
                    width: '250px',
                    formatter:function(value,row,index){
                        if(row.pid === 0){
                            return '';
                        }
                    }
                },
                {
                    field: 'qrmbdm',
                    align: 'center',
                    title: '基础模板ID',
                    width: '250px',
                    formatter:function(value,row,index){
                        if(row.pid === 0){
                            return '';
                        }
                    }
                },
                {
                    field: 'qrdxdm',
                    align: 'center',
                    title: '元数据ID',
                    width: '250px',
                    formatter:function(value,row,index){
                        if(row.pid === 0){
                            return '';
                        }
                    }
                },
                {
                    field: 'yzjddm',
                    align: 'center',
                    title: '原子节点ID',
                    width: '250px',
                    formatter:function(value,row,index){
                        if(row.pid === 0){
                            return '';
                        }
                    }
                },
                {
                    field: 'bt',
                    align: 'center',
                    title: '必选',
                    width: '100px',
                    formatter:function(value,row,index){
                        if(row.pid === 0){
                            return '';
                        }
                    }
                },
                {
                    field: 'dictCode',
                    align: 'center',
                    title: '字典字段',
                    width: '100px',
                    formatter:function(value,row,index){
                        if(row.pid === 0){
                            return '';
                        }
                    }
                }
            ],
            onExpandRow:function(index,row,$detail){
                InitSubTable(index, row, $detail);
            }
        });
        /**
         * 父子表
         */
        function InitSubTable(index, row, $detail){
            var parentid = row.id;
            var sourceType = row.sourceType;
            var cur_table = $detail.html('<table></table>').find('table');
            function initParam(params) {
                var queryJson = {
                    sourceType :sourceType,
                    pId:parentid
                };
                if($('#chosen').is(':checked')){
                    queryJson['bt'] = 1;
                }
                if($('#configPath').is(':checked')){
                    queryJson['config'] = 1;
                }
                queryJson['count'] = params.limit;    // 每页显示条数
                queryJson['first'] = params.offset;   // 显示条数
                queryJson['sort'] = params.sort;      // 排序列名
                queryJson['order'] = params.order;     // 排位命令（desc，asc）
                return queryJson;
            }
            $subTable = $(cur_table);
            $subTable.bootstrapTable({
                url:ctx + 'basic/clist',
                striped: true,
                method: 'GET', // 请求方法
                queryParams: initParam,
                cache: false,  // 是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                pagination: false,                   // 是否显示分页（*）
                sortable: true,                     // 是否启用排序
                sortOrder: "asc",                   // 排序方式
                sidePagination: "server",           // 分页方式：client客户端分页，server服务端分页（*）
                pageNumber: 1,                      // 初始化加载第一页，默认第一页,并记录
                pageSize: 10,                     // 每页的记录行数（*）
                pageList: [10, 25, 50, 100],        // 可供选择的每页的行数（*）
                uniqueId: "id",
                idField: 'id',
                sortName: 'id',
                uniqueId: "id",                 // 每一行的唯一标识，一般为主键列
                columns: [
                    {
                        field: 'recordName',
                        title: '字段名称',
                        align: 'center',
                        width: '210px',
                        formatter:function(value,row,index){
                            var content = '';
                            var status = row.status;
                            if(row.mustMatch == 0){
                                content = `<span style="color:#787886;">${value}</span>`;
                            }else{
                                content = `<span>${value}</span>`;
                            }

                            return content;
                        }
                    },
                    {
                        field: 'recordName',
                        title: '操作',
                        align: 'center',
                        width: '150px',
                        formatter: function (value,row,index) {
                            var add = '<span href="#" class="btn btn-info btn-xs" title="插入新的一行" ' +
                                'onclick="openAddWindow('+row.pid+',\''+row.recordName+'\','+index+',\''+row.sourceType+'\',\''+row.dataType+'\',\''+row.dtjddm+'\',\''+row.qrmbdm+'\',\''+row.qrdxdm+'\',\''+row.yzjddm+'\',\''+row.dictCode+'\',\''+row.pyCode+'\','+row.bt+','+row.mustMatch+')">' +
                                '<i class="glyphicon glyphicon-plus"></i></span> ';
                            var b = '<span href="#" class="btn btn-info btn-xs" title="复制"' +
                                'onclick="openCopyWindow('+ row.pid+',\''+row.recordName+'\','+index+',\''+row.sourceType+'\',\''+row.dataType+'\',\''+row.dtjddm+'\',\''+row.qrmbdm+'\',\''+row.qrdxdm+'\',\''+row.yzjddm+'\',\''+row.dictCode+'\',\''+row.pyCode+'\','+row.bt+','+row.mustMatch+')">' +
                                '<i class="glyphicon glyphicon-copy"></i></span> ';
                            var e = '<span href="#" class="btn btn-info btn-xs" title="编辑"' +
                                    'onclick="openEditWindow('+row.id+','+ row.pid+',\''+row.recordName+'\','+index+',\''+row.sourceType+'\',\''+row.dataType+'\',\''+row.dtjddm+'\',\''+row.qrmbdm+'\',\''+row.qrdxdm+'\',\''+row.yzjddm+'\',\''+row.dictCode+'\',\''+row.pyCode+'\','+row.bt+','+row.status+','+row.mustMatch+')">'+
                                '<i class="glyphicon glyphicon-edit"></i></span> ';
                            var d = '<span href="#" class="btn btn-danger btn-xs" title="删除"  ' +
                                'onclick="openDeleteWindow('+row.id+','+ row.pid+',\''+row.recordName+'\','+index+',\''+row.sourceType+'\',\''+row.dataType+'\',\''+row.dtjddm+'\',\''+row.qrmbdm+'\',\''+row.qrdxdm+'\',\''+row.yzjddm+'\',\''+row.dictCode+'\',\''+row.pyCode+'\','+row.bt+','+row.status+','+row.mustMatch+')">' +
                                '<i class="glyphicon glyphicon-trash"></i> </span> ';
                            return add + e + b + d ;
                        }
                    },
                    {
                        field: 'dataType',
                        title: '类型',
                        align: 'center',
                        width: '100px',
                        formatter:function(value,row,index){
                            if(value == '1'){
                                return '<span style="font-size:11px;">文件结构</span>';
                            }else if(value == '2'){
                                return '<span style="font-size:11px;">基础模板</span>';
                            }else  if(value == '3'){
                                return '<span style="font-size:11px;">元数据</span>';
                            }else{
                                return '<span style="font-size:11px;">原子节点</span>';
                            }
                        }
                    },
                    {
                        field: 'dtjddm',
                        align: 'center',
                        title: '文件结构ID',
                        width: '250px',
                        formatter:subTableValueFormatter
                    },
                    {
                        field: 'qrmbdm',
                        align: 'center',
                        title: '基础模板ID',
                        width: '250px',
                        formatter:subTableValueFormatter
                    },
                    {
                        field: 'qrdxdm',
                        align: 'center',
                        title: '元数据ID',
                        width: '250px',
                        formatter:subTableValueFormatter
                    },
                    {
                        field: 'yzjddm',
                        align: 'center',
                        title: '原子节点ID',
                        width: '250px',
                        formatter:subTableValueFormatter
                    },
                    {
                        field: 'bt',
                        align: 'center',
                        title: '必选',
                        width: '60px',
                        formatter:function(value,row,index){
                            if(value === 0 || value === null ){
                                return '非必选';
                            }else{
                                return '必选';
                            }
                        }
                    },
                    {
                        field: 'dictCode',
                        align: 'center',
                        title: '字典字段',
                        width: '70px',
                        formatter:function(value,row,index){
                            if(value !== '0' && value !== '' && value !== null){
                                return '是';
                            }else{
                                return '否';
                            }
                        }
                    },{
                        field: 'mustMatch',
                        align: 'center',
                        title: '是否配置',
                        width: '70px',
                        formatter:function(value,row,index){
                            if(value == '1'){
                                return '是';
                            }else{
                                return '否';
                            }
                        }
                    }
                ],
            });
        }

        $table.on('editable-save.bs.table',function (event, field, row, $el) {
            var param = {
                id:row.id,
                pId:row.pid,
                sourceType:row.sourceType,
                pyCode:row.pyCode,
                recordName:row.recordName,
                dictCode:row.dictCode,
                dataType:row.dataType,
                dtjddm:row.dtjddm,
                qrmbdm:row.qrmbdm,
                qrdxdm:row.qrdxdm,
                yzjddm:row.yzjddm,
                bt:row.bt,
                mustMatch:row.mustMatch,
                status:row.status
            };
            $.ajax({
                url: ctx + "basic/edit",
                data: param,
                type: "post",
                dataType: 'json',
                async: false,
                cache: false,
                success: function (result,status) {
                    if(status === 'success'){
                        toastr.info('数据提交成功');
                    }
                },
                error: function (response) {
                    toastr.error(response.responseText);
                },
                complete: function () {
                }
            });
        });

        function queryListInfo(params){
            var queryJson = {
                sourceType : $('#dataSet').val()
            };
            if($('#chosen').is(':checked')){
                queryJson['bt'] = 1;
            }
            if($('#configPath').is(':checked')){
                queryJson['config'] = 1;
            }
            queryJson['count'] = params.limit;    // 每页显示条数
            queryJson['first'] = params.offset;   // 显示条数
            queryJson['sort'] = params.sort;      // 排序列名
            queryJson['order'] = params.order;     // 排位命令（desc，asc）
            return queryJson;
        }

        function searchListInfo(){
            $table.bootstrapTable('refresh', { pageNumber: 1 });
        }

        $('#dataSet').on('change',searchListInfo);
        $('#chosen').on('change',searchListInfo);
        $('#configPath').on('change',searchListInfo);

        $('#saveMapping').on('click',function (e) {
            e.preventDefault();
            var selectNode = $('#tree').treeview('getSelected');
            console.log(selectNode);
            var nodeLength = selectNode.length;
            if(nodeLength > 0){
                var data = {
                    id:selectNode[0].id,
                    dataType:dataTypeC,
                    dtjddm:dtjddmC,
                    qrmbdm:qrmbdmC,
                    qrdxdm:qrdxdmC,
                    yzjddm:yzjddmC,
                    sourceType:selectNode[0].sourceType,
                    pyCode:selectNode[0].pyCode,
                    pid:selectNode[0].nodePid
                };
                console.log(data);
                $.ajax({
                    url: ctx + 'basic/edit',
                    data: data,
                    type: "post",
                    dataType: 'json',
                    async: false,
                    cache: false,
                    success: function (result) {
                        if (result.status == "SUCCESS") {
                            toastr.info("复制成功");
                            $('#treeModal').modal('hide');
                            $table.bootstrapTable('refresh');
                        }
                    },
                    error :function (request) {
                        toastr.error(request.responseText);
                    }
                });
            }else{
                toastr.error('请选择复制到接口表字段。');
                return;
            }


        })

        $('#dataType').on('change',function(){
           showOrHideDivByDatatype($(this).val());
        });

        $('#saveForm').on('click',function(e){
            e.preventDefault();
            var param = {
                id:$('#id').val(),
                pId: $('#pId').val(),
                sourceType: $('#sourceType').val(),
                pyCode:$('#pyCode').val(),
                recordName:$('#recordName').val() == null ? '' :$('#recordName').val(),
                dictCode:$('#dictCode').val(),
                dataType:$('#dataType').val(),
                dtjddm:$('#dtjddm').val(),
                qrmbdm:$('#qrmbdm').val(),
                qrdxdm:$('#qrdxdm').val(),
                yzjddm:$('#yzjddm').val(),
                bt:$('#bt').val(),
                mustMatch:$('#mustMatch').val(),
                status:$('#status').val() == '' ? null : $('#status').val()
            };
            $.ajax({
                url: ctx + "basic/edit",
                data: param,
                type: "post",
                dataType: 'json',
                async: false,
                cache: false,
                success: function (result,status) {
                    if(status === 'success'){
                        if(result.status === 'SUCCESS'){
                            toastr.info('数据提交成功');
                            var queryJson = {
                                sourceType :$('#sourceType').val(),
                                pId:$('#pId').val()
                            };
                            $('#editModal').modal('hide');
                            $subTable.bootstrapTable('refresh',queryJson);
                        }else{
                            toastr.error(result.msg);
                        }

                    }
                },
                error: function (response) {
                    toastr.error(response.responseText);
                },
                complete: function () {
                }
            });


        });

        $('#configT').on('click',function(){
            var sourceType = $('#sourceType').val();
            $.ajax({
                type: "post",
                url: ctx + "basic/templateTree",
                dataType: "json",
                data:{sourceType:sourceType},
                cache : false,
                async: false,
                success: function (result) {
                    $('#nodeInfoTree').treeview({
                        data: result.data,         // 数据源
                        showCheckbox: true,   //是否显示复选框
                        highlightSelected: true,    //是否高亮选中
                        icon:'',                                  //列表树节点上的图标，通常是节点左边的图标。
                        uncheckedIcon:"",                         //设置图标为未选择状态的checkbox图标。
                        nodeIcon:'glyphicon glyphicon-unchecked', //设置所有列表树节点上的默认图标。
                        selectedIcon:"glyphicon glyphicon-check", //设置所有被选择的节点上的默认图标。
                        color:"#000000",
                        backColor:"#FFFFFF",
                        emptyIcon: '',    //设置列表树中没有子节点的节点的图标。
                        multiSelect: false  //多选
                    });
                },
                error: function (response) {
                    toastr.error(response.responseText);
                },
            });
            $('#editModal').modal('hide');
            $('#nodeInfoModal').modal('show');
        });
    });

    $('#addOrModify').on('click',function () {
        var dictArr = dictTree.getCheckedNodes(true);
        if(dictArr == undefined || dictArr.length <= 0){
            toastr.error('请选择互利互通数据集数据');
            return ;
        }
        var templateArr = templateTree.getCheckedNodes(true)
        if(templateArr == undefined || templateArr.length <= 0){
            toastr.error('请选择病历导航树数据');
            return ;
        }
        var mbzDataListSet =[];
        var index = 0;
        for(var i =0 ;i < dictArr.length ;i++){
            for(var j =0 ;j < templateArr.length ;j++){
                if(templateArr[j].nodeId.startsWith('B')){
                    continue ;
                }else{
                    mbzDataListSet[index]={
                        'sourceType':dictArr[i].dictValue,
                        'modelCode':templateArr[j].nodeId,
                        'sourceName':dictArr[i].dictLabel,
                        'modelName':templateArr[j].nodeName,
                        'sourcePcode':templateArr[j].nodePid,
                    };
                    index++;
                }
            }
        }
        console.log(mbzDataListSet);
        console.log(JSON.stringify(mbzDataListSet));
        $.ajax({
            url: ctx + 'dataList/addOrModify',
            async: false,
            type: "post",
            cache:false,
            dataType: 'json',
            contentType : 'application/json',
            data:  JSON.stringify(mbzDataListSet),
            success: function (data, status) {
                toastr.info('保存成功');
            },error:function (response) {
                toastr.error(response.responseText);
            }
        });

    });

    /**
     * templateTree延迟加载
     * @param event
     * @param treeId
     * @param treeNode
     */
    function zTreeOnOnClick(event, treeId, treeNode) {
        var treeObj = $.fn.zTree.getZTreeObj(treeId);
        //treeObj.expandAll(false);
        var node = treeObj.getNodeByTId(treeNode.tId);
        treeObj.expandNode(node, true, true, true);
        //没有子节点才去查询
        if (node.children.length < 1 || node.children == null || node.children == "undefined") {
            var queryJson = {
                'mldm':treeNode.nodeId
            };
            $.ajax({
                type: "POST",
                async: false,
                url: ctx + "mbk/childTree",
                data:queryJson,
                cache:false,
                dataType: "json",
                success: function (data) {
                    console.log(data);
                    if (data.data != null && data.data != "") {
                        //添加新节点
                        newNode = treeObj.addNodes(node, data.data);
                        // $.each(data.data,function(index,value){
                        //     treeObj.addNodes(node, value)
                        // });
                    }
                },
                error: function ( response) {
                    result = true;
                    toastr.error(response.responseText);
                }
            });
        }
    }

    function dictTreeOnOnClick(event, treeId, treeNode) {
        var treeObj = $.fn.zTree.getZTreeObj(treeId);
        var node = treeObj.getNodeByTId(treeNode.tId);
        var pyCode = node.pyCode;
        templateTree.expandAll(false);
        var tnode1 = templateTree.getNodeByParam("nodeId",pyCode,null);
        $("#"+tnode1.tId+"_a").click();
        if(pyCode.length > 2){
            var parentPyCode = pyCode.substring(0,pyCode.length -2 );
            var pnode1 = templateTree.getNodeByParam("nodeId",parentPyCode,null);
            templateTree.expandNode(pnode1);
        }
        var queryJson = {
            'sourceType':node.dictValue
        };
        dictTree.checkAllNodes(false);
        dictTree.checkNode(node, true, true);
        templateTree.checkAllNodes(false);

        $.ajax({
            type: "POST",
            async: false,
            url: ctx + "dataList/queryConfig",
            data: queryJson,
            dataType: "json",
            success: function (data) {
                if(data.status == 'SUCCESS'){
                    var result = data.data;
                    //  console.log(result);
                    if(result.length > 0){
                        $.each(result,function(index,value){
                            var node1 = templateTree.getNodeByParam("nodeId",value.modelCode,null);
                            if(node1 == null || node1 == undefined){
                                var sourceCode = value.sourcePcode;
                                var pnode = templateTree.getNodeByParam("nodeId",sourceCode,null);
                                //console.log(pnode);
                                if(pnode == null || pnode == undefined){
                                    sourceCode = sourceCode.substring(0,sourceCode.length-2);
                                    pnode = templateTree.getNodeByParam("nodeId",sourceCode,null);
                                    if(pnode == null || pnode == undefined){
                                        sourceCode = sourceCode.substring(0,sourceCode.length-2);
                                        pnode = templateTree.getNodeByParam("nodeId",sourceCode,null);
                                    }
                                }

                                $('#'+pnode.tId+'_a').click();
                            }
                            console.log(value.modelCode);
                            node1 = templateTree.getNodeByParam("nodeId",value.modelCode,null);
                            templateTree.checkNode(node1, true, true);
                            templateTree.selectNode(node1);
                            console.log("node=="+node1);
                        });
                    }
                }
            },
            error: function (response) {
                result = true;
                toastr.error(response.responseText);
            }
        });
    }
</script>
</body>
</html>